textarea:focus, input:focus{
    outline: 0;
}
html{
  position:relative;
}
:focus{
    outline: none;
}
body{
	font-size: 15px;
	font-family: 'Chivo', sans-serif;
    @include respond-to('x-large'){font-size: 13px;}
    // @include respond-to('medium'){font-size: 13px;}
    @include respond-to('small'){font-size: 10px;}
}
img{max-width:100%;}
h1{font-size: 2em;}
h2{font-size: 1.875em;}
h3{font-size: 1.500em;}
h4{font-size: 1.125em;}
h5{font-size: 0.875em;}
h6{font-size: 0.750em;}
h1, .h1, h2, .h2, h3, .h3{
    @include respond-to('small'){@include margin(10px,null,null,null);}
}
ul,.list-inline{
    padding: 0;
    margin: 0;
}
p{
    font-size: $font-primary;
    font-weight: $font-weight-light;
}
.block-title{
    font-size: 2.2em;
    line-height: 1.1;
}
.banner{
    @include padding(160px,null,null,null);

  @include respond-to('x-large'){
      @include padding(100px,null,null,null);
      }

}
// Header

header{
    background: rgba(0,0,0,0.9);
    @include padding(5px,null,5px,null);
    position: fixed;
    @include in-center(0,0,null,0);
    z-index: 999;
    @include respond-to('medium'){background: rgba(0,0,0,0.9);}
    .navbar-brand{
         height: auto;
         width:110px;
          @include padding(10px,10px,10px,10px);
        @include respond-to('x-large'){width: 110px; }
        @include respond-to('medium'){width: 100px; @include padding-all(10px);}
    }
    .navbar-nav{
        @include padding-all(10px);
        @include respond-to('x-large'){@include padding(10px,0,10px,0);}
         @include respond-to('ipad-max'){padding-top: 0 !important;
         margin:7.5px -15px;
         }
        @include respond-to('small'){@include padding(0,0,0,0);}
    }
    .navbar{
        margin: 0;
        .nav{
            >li{
                @include respond-to('small'){
                    border-bottom:1px solid rgba(255, 255, 255, 0.1);
                }
                > a{
                    font-size: 1em;
                    color: $color-white;
                    @include padding(28px,20px,28px,20px);
                    @include respond-to('x-large'){
                        @include padding(20px,15px,20px,15px);
                         font-size: 1.2em;
                    }
                    @include respond-to('medium'){
                        @include padding(15px,10px,15px,10px);
                        font-size: 0.95em;
                    }
                    @include respond-to('small'){
                        @include padding(10px,10px,10px,10px);
                         font-size: 1.55em;
                    }
                    &:focus,&:hover{
                        background: none;
                        color: $brand-primary;
                    }
                }
            }
            @include respond-to('ipad-max'){
            .dropdown{
                position: relative;
                &:after{
                    position: absolute;
                    content: '\f105';
                    font-family: FontAwesome;
                    @include in-center(0,10px,0,auto);
                    margin: auto;
                    font-size: 2.5em;
                }
                .fa{
                    display: none;
                }
            }
            }
            .dropdown-menu{
                padding: 0;
                border-radius: 5px;
                width: 200px;
                // @include in-center(null,-100%,null,-100%);
                margin: auto;
                 @include respond-to('x-large'){
                    width: 182px;
                    
                }
                @include respond-to('ipad-max'){
                    width: 100%;
                    @include in-center(0,0,0,0);
                    position: relative;
                    border-radius: none;
                    
                }

                @include respond-to('medium') {
                    float: left;
                    // left: inherit ;
                    // right: inherit ;
                }
                &:after {

                    position: absolute;
                    content: '';
                    width: 0; 
                    height: 0; 
                    border-left: 15px solid transparent; 
                    border-right: 15px solid transparent; 
                    border-bottom: 20px solid $color-white; 
                    @include in-center(-18px,4px,null,null);
                    margin: auto;
                    @include respond-to('small'){
                        display: none;
                    }
                }
                li{
                    a{
                        color: #333333;
                        font-size: $font-primary;
                        @include padding(18px,15px,18px,15px);
                        font-weight: $font-weight-light;
                        &:hover{
                            background: $border-color;
                            color: $color-black;
                            font-weight: $font-weight-regular;
                            @include respond-to('small'){
                                background: none;
                                color: $brand-primary;
                            }
                        }
                        @include respond-to('small'){
                            color: $color-white;
                        }
                    }
                }
                li:first-child a{
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    @include respond-to('small'){
                        border-radius: none;
                    }
                }
                li:last-child a{
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                    @include respond-to('small'){
                        border-radius: none;
                    }
                }
                .sub-dropdown-menu{
                    position: relative;
                    
                    &::after{
                        position: absolute;
                        content: '';
                        width: 10px;
                        height: 100%;
                        @include in-center(0,-8px,null,null);
                        background: transparent;
                        @include respond-to('small'){
                            content: '\f105';
                            font-family: FontAwesome;
                            @include in-center(0,10px,0,auto);
                            margin: auto;
                            font-size: 1.5em;
                        }
                    }
                    &:hover{
                        .dropdown-menu{
                            display: block;
                            @include in-center(0,-205px,null,auto);
                            &:after{
                                display: none;
                            }
                            @include respond-to('ipad-max'){
                               width: 100%;
                               top:0;
                               left:0 !important;
                               right: 0;
                                position: relative;
                                border-radius: none;
                            }
                        }
                    }
                }
                
            }
            .checkbox-bropdown{
                li{
                    color: #333333;
                    font-size: $font-primary;
                    @include padding(5px,15px,5px,15px);
                    font-weight: $font-weight-light;
                    &:hover{
                        background: $border-color;
                        color: $color-black;
                        font-weight: $font-weight-regular;
                        @include respond-to('small'){
                            background: none;
                            color: $brand-primary;
                        }
                    }
                    @include respond-to('small'){
                        color: $color-white;
                    }
                    input[type=checkbox]{
                        @include margin(null,10px,null,null);
                    }
                }
                .done-btn{
                    width: 100% !important;
                    display: block;
                    @include margin(10px,null,null,null);
                    text-align: center;
                    &:hover{
                        background: none;
                    }
                    button{
                        width: 150px;
                        font-size: 1.500em;
                        color: $color-white;
                        background: $brand-primary;
                        border:none;
                         @include respond-to('small'){
                        width: auto;
    font-size: 0.9em;
                    }
                    }
                }
            }
            li:last-child{
                .dropdown-menu{
                    @include in-center(null,0,null,auto);
                    .sub-dropdown-menu{
                        &::after{
                            @include in-center(0,auto,null,-8px);
                        }
                        .dropdown-menu{
                            @include in-center(0,auto,null,-405px);
                            width: 400px;
                            li{
                                width: 50%;
                                display: inline-block;
                                float: left;
                            }
                        }
                        .country-list{
                            img{
                                width: 20px;
                                @include margin(null,10px,null,null);
                            }
                        }
                    }
                }
            }

            .hatke-link {
                background: rgba(0, 0, 0, 0) url("../images/hatke-menu-bg.png") no-repeat scroll center center / 75px auto;
                background-size:  80% !important; 
                @include respond-to('medium') {
                    background-size:  contain !important;
                    display:inline-block;
                }
                @include respond-to('small') {
                    background: none;
                    background-position: center;
                }
                @include respond-to('min-medium') {
                    background-position: center;
                }
                @include margin(null,
                20px,
                null,
                null);
                @include respond-to('medium') {
                    @include margin(null, 0, null, null);
                }
                &:hover {
                    a {
                        color: $color-white;

                    }
                }
            }
            .wishlist{
                a{
                    position: relative;
                    // @include padding(22px,null,15px,null);
                    @include respond-to('x-large'){
                        @include padding(21px,null,0px,null);
                    }
                    .fa{
                        color: $brand-primary;
                        font-size: 1.889em;
                    }

                  

                    span{

                        position: absolute;
                        background: $color-white;
                        width: 25px;
                        height: 25px;
                        border-radius: 100%;
                        font-size: 0.944em;
                        line-height: 25px;
                        display: block;
                        color: $color-black;
                        top:14px;
                        left:50%;
                       
                         @include respond-to('ipad-max'){
                             top:8px !important;
                            }


                        @include respond-to('medium'){
                            width: 20px;
                            height: 20px;
                            line-height: 20px;
                            top:16px;
                        }
                       
                        @include respond-to('small'){
                                top: 5px !important;
                                left: 24px !important;
                        }
                        
                        
                    }
                }
            }
            .open{
                > a{
                    background: none;
                    color: $brand-primary;
                    &:hover,&:focus{
                        background: none;
                        color: $brand-primary;
                    }
                }
            }
            .profile-bar{
                a{
                    @include padding(10px,null,10px,null);
                    display: flex;
                    display: -webkit-flex;
                    align-items: center;
                    @include respond-to('x-large'){
                        @include padding(8px,null,8px,null);
                    }
                    @include respond-to('medium'){
                        @include padding(5px,null,5px,null);
                    }
                }
                .profile-avtar{
                    width: 60px;
                    height: 60px;
                    border-radius: 100%;
                    display: inline-block;
                    @include margin(null,10px,null,null);

                    @include respond-to('x-large'){
                       width: 45px;
                       height: 45px;
                    }

                    @include respond-to('medium'){
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
    }
    .navbar-toggle{
        @include respond-to('small'){
            border-color: $color-white;
            @include margin(20px,null,null,null);
            .icon-bar{                
                background: $color-white;                
            }
        }
    }
    
}

// Footer
footer{
    background: $black-light;
    .bac2top{
        width: 60px;
        height: 60px;
        border-radius: 100%;
        border:$bold-border;
        color: $dark-gray;
        position: fixed;
        @include in-center(null,30px,100px,null);
        margin:auto;
        font-size: 3.063em;
        line-height: 55px;
        z-index: 9;
        @include transition(all,0.4s,ease);
        display: none;
        @include respond-to('small'){
            width: 35px;
            height: 35px;
            line-height: 35px;
            @include in-center(null,10px,80px,null);
        }
        .fa{
            animation: 5s linear 0s normal none infinite running bounce;
        }
        &:hover{
            background: $brand-primary;
            border-color: $brand-primary;
            color: $color-white;
        }
    }
    .footer-menu{
        @include padding(25px,null,25px,null);
        @include border('top', 1px, solid, $color-white);
        @include border('bottom', 1px, solid, $color-white);
        @include respond-to('medium'){
            @include padding(25px,null,25px,null);
        }
        li{
            @include padding(null, 15px, null, 15px);
            position: relative;
            @include respond-to('medium'){
                @include padding(null, 15px, null, 15px);
            }
            @include respond-to('small'){
                display: block;
            }
            &:after{
                position: absolute;
                content: '';
                width: 2px;
                height:38px;
                background: $color-white;
                margin: auto;
                @include in-center(0px,0px,0px,null);
                @include respond-to('medium'){
                     height:18px;
                }
                @include respond-to('small'){
                    display: none;
                }
            }
            &:last-child:after{
                display: none;
            }    
            a{
                font-size: 1.500em;
                color: $color-white;
                font-weight: $font-weight-light;
                position: relative;
                @include respond-to('small'){
                     @include padding(null,null,10px,null);
                 }
                &:after{
                    position: absolute;
                    content: '';
                    @include in-center(null,0,-5px,0);
                    width: 0px;
                    height: 1px;
                    background: $brand-primary;
                    margin: auto;
                    @include transition(all, .6s, ease-in-out);
                    @include respond-to('small'){
                        @include in-center(null,0,8px,0);
                    }
                }
                &:hover:after{
                    width: 100%;
                }
                
            }
           
        }
    }
    .social-share{
        @include padding(20px,null,20px,null);
        @include respond-to('small'){
             @include padding(20px,null,20px,null);
        }
        li{
            @include respond-to('medium'){
                width: 185px;
            }
            @include respond-to('small'){
               @include margin(null,null,15px,null);
            }
        }
        .social-link{
            @include padding(40px,null,null,null);
            font-size: 10px;
            @include respond-to('small'){
                @include padding(20px,null,null,null);
            }
            li{
                    min-width: 55px;
                // height: 58px;
                @include box-shadow(0, 0, 0, 1px, $dark-gray, inset);
                @include padding(0,15px,0,15px);
                position: relative;
                z-index: 1;
                margin-right: 15px;
                @include respond-to('medium'){
                    width: 60px;
                    height: 45px;
                }
                a{
                    display: block;
                }
                .fa{
                    line-height: 58px; 
                    color: $dark-gray;
                    font-size: 3.077em;
                    @include respond-to('medium'){
                        line-height: 45px;
                    }
                }
                &:after{
                    position: absolute;
                    content: '';
                    width: 0;
                    height: 0;
                    @include in-center(0,0,0,0);
                    margin: auto;
                    @include transition(all, .4s, linear);
                    z-index: -1;
                }
                &:nth-child(1):after{
                    background: #3B5998;
                }
                &:nth-child(2):after{
                    background: #32CDFD;
                }
                &:nth-child(3):after{
                    background: #B631A6;
                }
                &:nth-child(4):after{
                    background: #0177B5;
                }
                &:hover{
                    &:after{
                        width: 100%;
                        height: 100%;
                    }
                    .fa{
                        color: $color-white;
                    }
                }
            }
        }
    }
    .bottom-bar{
        background: $color-black;
        @include padding(10px,null,10px,null);
        p{
            margin: 0;
        }
    }
}
.checkbox-bropdown{
    li{
        font-size: 1.500em;
        color: #333333;
        &:hover{
            color: $color-black;
        }
    }
}
.slick-track{
    margin: auto;
}
.brand-logo{
    .slick-slide{
        @include respond-to('small'){
            max-width: 90px;
            @include margin(null,5px,null,5px);
        }        
    }
}
//bug-fixing

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-weight: $font-weight-regular;

}
::-moz-placeholder { /* Firefox 19+ */
  font-weight: $font-weight-regular;
}
:-ms-input-placeholder { /* IE 10+ */
  font-weight: $font-weight-regular;
}
:-moz-placeholder { /* Firefox 18- */
  font-weight: $font-weight-regular;  
}

.input-lg, .input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn{color:$black-light;font-weight:$font-weight-light;

}
.btn:focus{color: $color-white;}

.font-size-80{font-size: 80%;}
.text-camel-case{
    text-transform: capitalize
}


//reausable classes

.margin-zero{
    margin: 0 !important;
}
.margin-bottom{
    margin-bottom: 15px !important;
}
//header-search

.header-search{
        @include padding(25px,null,25px,null);

       .form-control{
                    background:#2c2c2c url("../images/header-search.png") no-repeat scroll 98% center / 25px auto;
                     color: $color-white;
                    //    @include margin(null,null,null,80px);
                     
                       
        }
}
.ott {
    .slick-track{
        li{
               img{
                   max-width:50px;
                   
               }
        }
    }
    .slick-arrow{
        height: 17px;
    }
}

//contact-us
.captcha{
    position: relative;

    .catche{
        display: inline-block;
        width: 85%;
    }

    a{
       position:absolute;
       right:5px;

       .fa{
              font-size:3.125em;

              @include respond-to('large'){
                 font-size:2.1875em;
         }
       }
    }
}

.form-padding{
        border-right: 1px solid #898989;
         @include respond-to('small'){
             border-right:none;
         }

       @include padding(30px,30px,null,30px);
}
.ft-content-wrap{
    .tos-margin{

             @include respond-to('small'){
                      margin-top:20px;
                     }

    h3{
          margin-bottom:0;
    }
}
}
.location{
            @include padding(30px,30px,null,30px);
           

            .regular-font{
                font-weight: 400;
                font-size:1.375em;
            }

            .location-para{
                font-style:italic;
            }

            .loc-div{
                 @include padding(20px,15px,15px,null);
            }

            .map-border{
                border-top:1px solid #898989;
            }

}

select.input-lg, .input-group-lg > select.form-control, .input-group-lg > select.input-group-addon, .input-group-lg > .input-group-btn > select.btn{
    height:40px;
}


label{

    font-weight:$font-weight-regular;
     font-size: 1.3125em;

     @include respond-to('medium'){
            font-size: 1.75em;
         }



}

.ft-content-wrap.contact-section{


  @include respond-to('small'){
             @include padding(100px,null,null,null);
         }

}

.form-control{
     @include respond-to('small'){

       font-size:1.4375em;
     }
}

.login-text{
    label{
        display: block;
    }
}
.input-lg, .input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn{
    font-size:1.076em;
      @include respond-to('large'){
            
              padding:10px 5px;         
                 }
}

.form-control:focus{
    border:1px solid #777777;
    box-shadow:none;
}


#emailAlert{
    .panel-body{

        li{
              span{

            
              @include respond-to('small'){
            
                  font-size: 1.25em;        
                 }
              }

              .switch{

                     @include respond-to('large'){
                         font-size:1em;
                     }
                       @include respond-to('small'){
            
                        width: 60px;
                        height: 30px;
                        margin-top: 6px;    
                        
                 }

                 .slider:before{
                              @include respond-to('small'){
                                  width: 20px;
                                  height: 20px;
                              }

                 }
              }
         }
      
    }
}
.dis-casting{
                h1{
                     font-weight:$font-weight-regular;
                }
}


@media (max-width:1024px) {
header .navbar .nav .hatke-link{
   
        background-position: left center;     
    }
    header .navbar .nav .wishlist a span{
left: 25px;
    }
}



//for header
.category{
             display:none;

          @include respond-to('ipad-max')
          {
             display: block;
            }
         
    }

.ellipse{

    @include respond-to('ipad-max')
          {
             display: none;
            }
}



.rate-share-wrap{
    @include respond-to('small'){
        .list-unstyled{
            text-align: center;
            margin-top: 15px;
        }
    }
}


.product-filter{
    .filter-bar.wats-new{

        display: block;

        li:last-child{
             @include respond-to('ipad-max')
          {
             margin-top:10px;
            }

        }

          li:nth-child(6){
             @include respond-to('ipad-max')
          {
             margin-top:10px;
            }

        }

    }
}

.des-li{

        li{
              @include respond-to('small'){
                  display: block;
                  margin: 20px 0;
            }

        }
         
}

.rate-share-wrap {
    ul{
        

          @include respond-to('small'){
                   text-align: left !important;
            }
            // li{
            //          @include respond-to('small'){
            //        margin: 0 10px;
            // }
            // }
      
    }
}

.rating-section{
    .text-right{

          @include respond-to('small'){
        margin-top:0;                        
    }
}
}

//about us
.text-underline{
    text-decoration: underline;
}


.about-graphic{
    @include margin(80px,null,80px,null);
}

#collapseOne{
    .panel-body{
        p:first-child{
            @include margin(20px,null,20px,null);
        }

          p:nth-child(2){
            @include margin(20px,null,20px,null);
        }

          p:nth-child(4){
            @include margin(20px,null,60px,null);
        }



    }
}

.regular-text{
    font-weight:$font-weight-regular;
}

.three-box{
    border: 1px solid #bfbfbf;
    border-radius: 10px;
    padding: 30px;
    min-height: 300px;
  
      @include margin(null,null,60px,null);




    .list-unstyled{
        li{
            line-height: 35px;
        }
    }
}

.margin-space{
     @include margin(30,null,30px,null);
}
.about-screen{
    p{
        color:#d7d7d7;
    }

    .panel-body{
        padding: 30px;
    }

    .panel-heading{
        padding:10px 27px 20px !important;
    }
}

.static-page-fonts {
    li, p,{
       font-size: 15px !important;
    }
}

.image-container {
    position: relative;
 
}
.image-container .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}
.image-container:hover .after {
    display: block;
    background: rgba(0, 0, 0, .5);
}

.image-container .after .content {
   
   position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}