.comparision-wrap{
    .nav-tabs{
        border:none;
        a{
            font-size: 1.500em;
            color: $color-white;
            background: none !important;
            border-radius: 0;
            border: $square-border !important;
            margin:0;
            @include transition(all,0.4s,ease-in);
            &:hover{
                background: $brand-primary !important; 
                color: $color-white;
            }
        }
        .active{
            a{
                background: $brand-primary !important; 
                color: $color-white;
                &:hover{
                    color: $color-white;
                }
            }
        }
    }
    .tab-content{
        @include margin(15px,null,null,null);
    }
    .table-responsive{
        border: $square-border;
        border-radius: 5px;
        table{
            background: #222222;
            @include margin(0,0,0,0);
            .header{
                background: $brand-primary;
                color: $color-white;
                th{
                    font-size:1.384em;
                    font-weight: $font-weight-regular;
                    min-width:150px;
                    &.col-min{
                        width: 300px;
                    }
                    &.col-sm{
                        width: 200px;
                    }
                    @include respond-to('medium'){
                        min-width:200px;
                    &:last-child{
                        min-width:auto;
                    }
                }    
                }           
            }
            td{
                font-size:0.923em;   
                @include padding-all(15px);
                vertical-align: middle;
                           
            } 
            &.table-condensed{
                td{
                     font-size: 1em;
                     @include padding-all(0);
                     font-weight: $font-weight-light;
                     min-width: auto;
                }
            }
        }
    }
}

.coupon-modal{
    label{
        color: $brand-primary;
        display: block;
        font-size: 1.182em;
    }
    .coupon-code{
        font-size: 1.750em;
        border:2px dashed $color-grey;
        color: $color-grey;
        @include padding-all(10px);
        width: 400px;
        display: inline-block;
        @include margin(35px,auto,35px,auto);
        @include respond-to("small"){
            width: 100%;
        }
    }
    button{
        display: block;
         @include margin(null,auto,45px,auto);
        width: 400px;
        @include respond-to("small"){
            width: 100%;
        }
    }
    p{
        font-size: 1.375em;
        color:  $color-grey;
        a{
            color: 1.091em;
            color: $brand-primary;
            display: inline-block !important;
        }
    }
}