.circle-logo{
    position: absolute;
    width: 125px;
    height: 125px;
    border-radius: 100%;
    background: $color-black;
    border: 4px solid $color-white;
    @include padding-all(15px);
    display: flex;
    display: -webkit-flex;
    align-items: center;
    @include in-center(-55px,0,null,0);
    margin: auto;
    @include respond-to('small'){
        // position: static;
    }
}
.modal{
    .close{
        width: 60px;
        height: 60px;
        border-radius: 100%;
        border: 3px solid $color-white;
        background: $color-black;
        color: $color-white;
        @include in-center(-22px,-22px,null,null);
        margin: auto;
        position: absolute;
        opacity: 1;
        .fa{
            font-size: 1.275em;
        }
        @include respond-to('small'){
            width: 40px;
            height: 40px;
            font-size: $font-primary;
            @include in-center(0,0,null,null);
        }
    }
}
.modal{
    .modal-body{
        width: 100%;
        @include padding(80px,null,null,null);
        @include respond-to('x-large'){
            @include padding(50px,null,null,null);
        }
        @include respond-to('small'){
            @include padding(80px,null,null,null);
        }
        display: inline-block;
        h3{
            color: $color-grey;
        }
        h4{
             color: $color-grey;
             @include margin(20px,null,null,null);
             
            a{
                color: $brand-primary;
                display: inline-block;
            }
        }
        .sync-title{
            color: $brand-primary;
        }
        .login-detail{
            position: relative;
            @include respond-to('medium'){
                @include padding-all(0);
                @include respond-to('small'){padding: 0 15px;;}
            }
            &:after{
               position: absolute;
                content: '';
                top: 60px;
                /* right: 0; */
                bottom: 0;
                left: 0px;
                margin: auto;
                width: 1px;
                height: 100%;
                background: $dark-gray;
                @include respond-to('medium'){ left: -10px;}
                @include respond-to('small'){display: none;}
            }
            &:before{
                position: absolute;
                content: 'OR';
                top: 60px;
                /* right: 0; */
                bottom: 0;
                left: -20px;
                width: 40px;
                height: 40px;
                border-radius: 100%;
                border: $square-border;
                line-height: 40px;
                color: $color-grey;
                font-size: $font-primary;
                margin: auto;
                background: $color-white;
                text-align: center;
                z-index: 1;
                @include respond-to('medium'){
                    width: 25px;
                    height: 25px;
                    line-height: 22px;
                    left:-22px;
                }
                @include respond-to('small'){display: none;}
            }
            .col-sm-6{
                @include padding(null,40px,null,40px);
                @include respond-to('medium'){
                    @include padding(null,15px,null,15px);
                }
            }
        }
        
        .form-title{
            color: $color-grey;
            font-size: 1.250em;
            font-weight: $font-weight-light;
            @include padding(30px,null,30px,null);
            @include respond-to('x-large'){
                @include padding(15px,null,20px,null);
            }
              @include respond-to('small'){
                @include padding(15px,null,5px,null);
            }


        }
        .btn-login{
            width: 100%;
        }
        a{
            display: block;
            @include margin(null,null,10px,null);
            .fa{
                @include margin(null,10px, null,null);
                @include padding(null,10px,null,10px);
                position: relative;
                &:after{
                    position: absolute;
                    content: '';
                    width: 1px;
                    height: 100%;
                    background: $color-white;
                    @include in-center(0,0,0,null);
                    margin: auto;
                }
                @include respond-to('medium'){
                    @include margin(null,5px, null,null);
                    @include padding(null,10px,null,0px);
                }
            }
        }
        .fb{
            background: #3b5998;
        }
        .gplus{
            background: #db402c;
        }
        .seprator{
            display: inline-block;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            border: $square-border;
            line-height: 40px;
            color: $color-grey;
            font-size: $font-primary;
            margin: auto;
            @include margin(10px,null,20px,null);
            @include respond-to('medium'){
               @include margin(5px,null,15px,null);
                width: 25px;
                height: 25px;
                line-height: 25px;
            }
        }
    }
    
}
.modal-footer{
    li{
        width: calc(100%/8);
        float: left;
    }
}

.country-modal{
    h4{
        color: $brand-primary !important;
    }
    .flags-list{
        @include margin(30px,null,null,null);
        li{
            @include margin(null,0px,null,0px);
            @include padding(10px,20px,10px,20px);
            width: 49%;
            border-radius: 5px;
            cursor: pointer;
            &:hover{
                background: #dfdfdf;
            }
            @include respond-to('medium'){
                @include margin(null,15px,null,15px);
                @include padding(10px,15px,10px,15px);
                width: calc((100% - 100px)/2);
            }
            @include respond-to('medium'){
                 width: 49%;
                 @include margin(null,0,null,0);
                @include padding(10px,10px,10px,10px);
            }
             @include respond-to('small'){
                 width: 100%;
             }
            span{
                color: $color-grey;
                font-size: 1.250em;
                @include margin(null,null,null,30px);
                @include respond-to('medium'){
                    @include margin(null,null,null,15px);
                }
            }

            img{
                max-height: 30px;
                max-width: 45px;
            }
           
        }
        
    }
    .skip-btn{
        color: $brand-primary;
        font-size: 1.250em;
        margin: auto;
        display: inline-block;
        cursor: pointer;
        position: relative;
        &:after{
            position: absolute;
            content: '';
            @include in-center(null,0,-2px,0);
            width: 0px;
            height: 1px;
            background: $brand-primary;
            margin: auto;
            @include transition(all, .6s, ease-in-out);
            @include respond-to('small'){
                @include in-center(null,0,0px,0);
            }
        }
        &:hover:after{
            width: 100%;
        }
    }
}

.welcome-modal{
    .modal-body{
        @include padding(40px,null,null,null);

       

        @include respond-to('small'){
           @include padding(20px,null,null,null);
        }
        h3{color: $color-white;}
    }
    .modal-header,.modal-footer{
        border:none;
    }
    .modal-content{
        background: none;
    }
    h1,h2{
        font-weight: $font-weight-regular;
    }
    .user-wrap{
        @include padding(null,null,20px,null);
        @include margin(null,null,20px,null);
        position: relative;

         @include respond-to('x-large'){
           @include padding(null,null,10px,null);
           @include margin(null,null,5px,null);
        }


        @include respond-to('small'){
           @include padding(null,null,10px,null);
           @include margin(null,null,10px,null);
        }
        &:after,&:before{
            position: absolute;
            content: '';
            width: 100%;
            height: 1px;
            background: url(../images/welcome-top-bdr.png)no-repeat center center/contain;
            @include in-center(-40px,0,null,0);
            margin: auto;
            @include respond-to('small'){
                @include in-center(-15px,0,null,0);
            }
        }
        &:before{
             background: url(../images/welcome-bottom-bdr.png)no-repeat center center/contain;
             @include in-center(auto,0,0,0);
             @include respond-to('small'){
                @include in-center(auto,0,0,0);
            }
        }
        
        .user-image{
            width: 120px;
            height: 120px;
            border-radius: 100%;
            overflow: hidden;
            border:3px solid #c6c6c6;
            margin: auto;
            display: inline-block;
        }
        .user-name{
            font-size: 1.875em;
            font-weight: $font-weight-medium;
        }
        .user-id{
            font-size: $font-primary;
        }
    }
    .choose-interest{
        @include margin(30px,null,20px,null);
        li{
            @include padding-all(0);
            @include margin(null,7.5px,null,7.5px);
            a{
                color: #0b0b0b;
                font-size: 0.875em;
                background: rgba(255,255,255,0.7);
                @include padding(5px,10px,5px,10px);
                &:hover,&.active{
                    background: $brand-primary;
                    color: $color-white;
                }
            }
        }
                  @include respond-to('x-large'){
                       @include margin(10px,null,5px,null);
            }


    }
    .getstart-btn{
        width: 400px;
        display: inline-block;
        margin: auto;
        @include respond-to('small'){
           width: 100%;
        }
    }
    
}
.modal-backdrop.in {
  opacity: 0.7;
}
.otp-modal{
    .modal-body{
        @include padding(80px,null,40px,null);
        @include respond-to('small'){
           @include padding(75px,null,20px,null);
        }
    }
    .otp-title{
        color: $brand-primary;
        font-size: 1.250em;
        font-weight: $font-weight-regular;
        @include margin(40px,null,30px,null);
        @include respond-to('small'){
           @include margin(30px,null,15px,null);
        }
    }
}


.search-modal{
    .modal-dialog{
        width: 100%;
        // height:100%;
      
        @include respond-to('small'){
            width: auto;
        }
        .modal-content{
            background: #313131;
            border-radius: 0;
            //    height:100%;
           
            .modal-body{
                @include padding(20px,null,null,null);
                .circle-logo{
                    position: static;
                }
                .close{
                   @include in-center(15px,50px,null,null);
                   @include respond-to('small'){
                       @include in-center(5px,5px,null,null);
                   }
                }
                input{
                    @include margin(45px,auto,45px,auto);
                    max-width: 1300px;
                }
                h2{
                    @include padding(null,null,10px,null);
                    border-bottom: 1px solid $color-white;
                    font-weight: $font-weight-regular;
                }
                .not-found{
                    color: $brand-primary;
                    font-size: 0.909em;
                }
                ul{
                    max-height: 400px;
                    overflow: auto;
                    li{
                        @include margin(null,null,15px,null);
                        
                        h4{
                            margin: 0;
                            color: $color-white;
                        }
                        .media-thumb{
                            width: 80px;
                        }
                    }
                }
            }
        }
    }
}

.login-detail{
       width: 48%;
    margin-left: 10px;
     @include respond-to('medium'){
                       width: 44%;
    margin-left: 22px;
            }
     @include respond-to('small'){
                     width: 100%;
                     margin-left: 0;
            }
}




#srModal .modal-content{

        height: 100%;
         @include respond-to('small'){
             height: auto;}

   height: 100vh;
    @include respond-to('small'){
    height: auto;
    }
}

#srModal {
    overflow: hidden;
    @include respond-to('small'){
        overflow: auto;
    }

    .modal-dialog{
        margin-top:0 !important ;
        margin-bottom:0 !important ;
        margin-left: 0;
    margin-right: 0;
    }
}