a:hover, a:focus{text-decoration:none;}
.navbar{border:none;}
.navbar-default .navbar-nav > li > a{font-weight: $font-weight-regular !important; color: $color-white;  }
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{color:#fff;}


/* ------ button ------- */

.btn{background: $brand-primary;color:$color-white;font-size:1.385em;
    &:hover{
        color:$color-white;
    }
}
.btn-small{background: $brand-primary;color:$color-white;font-size:1.384em}

// Modal
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:not(.search-modal):before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal:not(.search-modal) .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
// .table-responsive {
//   @include respond-to('medium'){
//       margin-bottom: 15px;
//       overflow-y: hidden;
//       width: 100%;
//   }
 
// }
.text-left {
    text-align: left;
}
.form-control{
  height: 46px;
  color: $black-light;
}

.modal-dialog{
      margin-top: 65px;
}
.navbar-form {
  width: 100%;
.input-group {
    width: 100%;
  }
}


@media (max-width:1024px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
            border: 1px solid rgba(249, 249, 249, 1);
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    header .navbar-toggle .icon-bar {
    background: #fff;
}
.navbar-collapse.collapse.in {
       overflow-y: visible !important;
    display: block !important;

            // margin-top: 61px

}
.search-inner-width{
  width: 100%;
  margin-top: 0px;
      margin-left: 0px !important;
    position: absolute;
    left: 0;
    right: 0;
}
header .navbar-nav {
    padding-top: 70px;
}
.search-inner-width{
     margin-left: 24px;
    background: #020202;
    position: inherit !important;
    top: inherit !important;
    transform: inherit !important;
}

}


@media (max-width: 767px){

header .navbar-nav {
    padding-top: 0px;
   
}

}

.search-inner-width{
     margin-left: 24px;
    background: #020202;
    position: absolute;
    left: 85px;
    top: 50%;
    transform: translate(0%, -50%);
}


.navbar-nav .open .dropdown-menu {
     @include respond-to('ipad-max'){
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
     }
}
header .navbar .nav .dropdown-menu li a {
     @include respond-to('ipad-max'){
    color: #fff;
     }
}

header .navbar .nav .dropdown-menu li a:hover {

    
    @include respond-to('ipad-max'){
    background: none;
    color: #e50914;
    }
}

header .navbar .nav .dropdown-menu:after {
    @include respond-to('ipad-max'){
   display: none;
    }
}