//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:            	#404040 !default; // charcoal
$gray-darker:           #212121 !default; // charcoal
$gray-dark-secondary:   lighten($gray-base, 38%) !default; // #616161
$gray-dark:             #e3e3e3 !default; // background-body
$gray:                  #b0b0b0 !default; // greyish
$gray-light:            #ababab !default; // lightgreay
$gray-lighter:          lighten($gray-base, 95%) !default; // #f2f2f2
$white-smoke:         	rgba(0, 0, 0, 0.7) !default; // faintgrey
$color-white:				  	#fff !default;
$color-black:           #000 !default;
$black-light:           #131313;
$basic-grey:            #f4f4f4;
$light-grey:            #e6e6e6;
$color-grey:            #505353;
$dark-gray:             #898989;
$border-color:          #dedede;

$brand-primary:         #e50914 !default; // advott-brand-primary
$brand-secondary: 				    #2dbaaa !default; // Green
$brand-tertiary: 				      #7acbfe !default; // skyblue
$brand-secondary-primary: 		#FAB000 !default; // orange
$brand-secondary-tertiary: 		#22517F !default; // dark blue
$brand-success:         		  #2ee2ba !default; // aqua-marine
$brand-info:            		  #5bc0de !default; // notification blue
$brand-warning:         		  #ff5c5c !default; // overdueRED
$brand-danger:          		  #ee4546 !default; // deleteRED


$light-blue :                 #3b5998;
$light-orange:                #db402c;
$select-color :            #757575;


$font-weight-light:300;
$font-weight-regular:400;
$font-weight-medium:600;
$font-weight-bold:900;
$font-size-base:14px;

$font-primary :1.125em;
$square-border : 1px solid $dark-gray;
$bold-border : 2px solid $dark-gray;

$breakpoints: (
  'x-sm':         ( min-width: 480px) and (max-width:767px),
  'small':        ( max-width:  767px),
  'ipad-port':    ( max-width:  768px),
  'min-medium':   ( min-width:  768px),
  'ipad':         ( min-width:  1024px),
  'ipad-max':     ( max-width:   1024px),
  'medium':       ( max-width:  1199px),
  'large':        ( max-width: 1200px),
  'x-large':     ( min-width: 1200px),
) !default;


