.filter-dropdown{
    width: 360px;
    border-radius: 5px;
    background: $color-white;
    position: absolute;
    z-index: 9;
    @include padding-all(15px);
    @include in-center(85px,-100%,null,-100%);
    margin: auto;
    display: none;

                  @include respond-to('x-large'){ 
                         left: -120%;
                         width: 280px;
                         top: 64px;
     }



    li{
        font-size: $font-primary;
        color: $color-black;
        width: calc((100% - 20px)/2);
        min-width: auto !important;
        text-align: left;
        float: left;
        input[type=checkbox]{
            @include margin(null,10px,null,null);
        }
        &:last-child{
            width: 100%;
            text-align: center;
            button{
                @include margin(20px,auto,null,auto);
                width: 150px;
                height: 50px;

                  @include respond-to('x-large'){ 
                         width: 90px;
                         height: 42px;
                          @include margin(10px,null,null,null);
             }
            }
        }

              @include respond-to('x-large'){ 
                         font-size: 1em;
             }



    }
    &:after{
        position: absolute;
        content: '';
        width: 0; 
        height: 0; 
        border-left: 15px solid transparent; 
        border-right: 15px solid transparent; 
        border-bottom: 20px solid $color-white; 
        @include in-center(-20px,0,null,0);
        margin: auto;
        @include respond-to('small'){
            display: none;
        }
    }
}

.tab-list{
    li{
        a{
            position: relative;
            &.active{
                &:after{
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 22px;
                    @include in-center(100%,0,null,0);
                }
            }
        }
        &:hover{
            a.active+.filter-dropdown{
                display: block;
            }
        }
    } 
}