.ft-content-wrap{
      background: $black-light;
         @include padding(150px,null,null,null);
           
}
.tos-heading {
    .sub-title{
         font-weight: $font-weight-regular;
         color:$color-white;
         position: relative;
         }
}
.tos-wrap{border:$square-border;
     @include margin(50px,null,50px,null);
      @include padding(null,15px,null,15px);
    h3 {
              @include padding(20px,null,30px,null);
              border-bottom:$square-border; 
     }

     p, li{
         color:#d7d7d7;
         font-size: 1.125em;
    font-weight: 300;
     }
     li{
         margin-bottom:25px; 
     }
}

// (support)

.footer-panel{

      @include margin(50px, null ,50px ,null);

    .panel-heading{
           @include padding(10px, 15px ,20px ,15px);
           background-color: #222222;
                 }
    h3{

        a{
             color:$color-white;
             display: block;
             position: relative;
        }

        a:after{
             background: rgba(0, 0, 0, 0) url("../images/arrow.png") no-repeat scroll center center;
                bottom: 0;
                content: "";
                height: 100%;
                position: absolute;
                right: 0;
                top: 8px;
                transform: rotate(90deg);
                width: 40px;
        }
         a.collapsed:after{
             bottom: 0;
                right: 0;
                top: -7px;
                transform: rotate(-90deg);
         }
     }

     .panel-default{
         border-color:$dark-gray;
         }
     .panel-body{
         background: #080808;
         }
      .panel + .panel{
             @include margin(30px,null,null,null);
     }
     .panel{
         .panel-collapse{
             .panel-body{
                                    border-top: 1px solid #535353;
             }
         }
     }
}

.below-support{
    @include padding(null, null ,40px ,null);
    p{
        font-size:1.75em;

        a{
            text-decoration: underline;
        }
    }
}

a{outline-offset:none;}


//content-partnership

.tos-wrap{

        .ft-content{

            @include padding(40px, null ,40px ,null);
            .para{
                    font-size:1.375em;
                    font-weight: $font-weight-regular;
            }
        }
        .font-style{
            font-style: italic;
        }

        textarea {resize: none}
        .btn-width{
            @include padding(25px,null,25px,null);
                .btn{
                       width:100%;
                  }
                 }
}

//advertise
.adv-heading{
    .sub-title{
           color:$color-white;
    }
}
.margin-top-md{
    margin-top: 18px;
}
