.hatke-wrap{
    background: $black-light;
}
.hatke-banner{
 

                h1{
                     @include respond-to('x-large'){
                            @include margin(null,null,10px,null);
                     }
                }

     @include padding(null,null,10px,null);

      @include respond-to('x-large'){
                @include padding(null,null,15px,null);
            }

     @include respond-to('medium'){
        @include padding(null,null,20px,null);
    }
     h3{
        font-weight: $font-weight-light;
        color: $color-white;
        position: relative;
        @include padding(null,null,15px,null);

             @include respond-to('x-large'){
                @include margin(10px,null,null,null);
            }
    }
    .brand-logo{
        @include padding(40px,null,40px,null);
        figure{
            width: 100px;
            @include respond-to('x-large'){
                width: 50px;
                }             
            @include respond-to('medium'){
                width: 50px;
            }
            // @include respond-to('small'){
            //     width: 90%;
            // }
        }

         @include respond-to('x-large'){
                @include padding(10px,null,10px,null);
            }
    }
    .tab-list{
        li{
            min-width: 100px;
            @include padding-all(0);
            @include margin(null,5px,null,5px);
            a{
                display: block;
                font-size: 1.25em;
                color: $color-white;
                @include padding(4px,17px,4px,17px);
                border:$square-border;
                font-weight: $font-weight-regular;
                &:hover,&.active{
                    @include transition(box-shadow,0.4s,linear);
                    @include box-shadow(0,0,0,50px, $brand-primary, true);
                }
                      @include respond-to('x-large'){
                            padding: 4px 8px;
                             font-size: 1.125em
                           }

            }
                 @include respond-to('x-large'){
               min-width: 80px;
            }
         }
    }
}
.product-filter{
    @include padding(null,null,35px,null);
    .ftr-tag{
        @include margin(null,null,35px,null);
        li{
            span{
                @include padding(5px,10px,5px,10px);
                background: $brand-primary;
                font-size: 1.846em;
                border-radius: 5px;
                position: relative;
                display: inline-block;
                a{
                    @include margin(null,null,null,10px);
                    color: $color-white;
                    .fa{
                        font-size: .7em;
                    }
                }
            }
        }
    }
    .filter-bar{
        @include margin(null,null,10px,null);
        display: inline-block;
        li{ 
            
            position: relative;
            &:first-child{
                font-size: 1.846em;
                color: $brand-primary;
                padding-right: 0;
                 @include respond-to('x-large'){
                   
                    @include margin(-5px,null,null,null);                    
                }

                @include respond-to('ipad-port'){
                    width: 100%;
                    @include margin(null,null,15px,null);
                    text-align: center;
                }
            }
            &:last-child{
                vertical-align: top;
                @include respond-to('small'){
                    width: inherit;
                }
            }
            
            @include respond-to('medium'){
                float: left;
            }
             @include respond-to('small'){
                  @include margin(null,null,20px,null);
            }
 
            .filter-arrow-down{
                position: absolute;
                top: 43%;
                left: 100%;
                color: #6f6d6d;
                transform: translate(-100%, -50%);
            }

        }
        li:not(:first-child):not(:last-child){
            // width: calc((100% - 470px) / 6);
            @include margin(null,15px,null,15px);
            padding: 0;
            vertical-align: top;
            @include respond-to('x-large'){
                // width: calc((100% - 330px) / 6);
                @include margin(null,4px,null,6px);
            }
           
            @include respond-to('medium'){
                width: inherit;
            }
            
            @include respond-to('small'){
                   width: inherit;
            }
        }
        select{
               margin-bottom: 10px;
            @include x-appearance(none);
            // background:$color-white url(../images/arrow-down.png)no-repeat 95% center;
            @include padding(null,35px,null,null);
            font-size: 1em;
            color: $select-color;
            line-height: 20px;
             margin-bottom: 10px;
            @include respond-to('x-large'){
                   height: inherit;
    line-height: inherit;
  
    font-size: 1emm !important;
                @include padding-all(5px);
                padding-right: 35px;
                max-height: 36px;
            }
            @include respond-to('large'){
              font-size:0.837em;
                  height: 36px;
                  line-height: 14px;
            
            }
            @include respond-to('small'){
               height: inherit;
    line-height: inherit;
  
    font-size: 1.4em;
                @include padding(5px,35px,5px,10px);
            }
        }
        .reset-btn{
            width: 87px;
            height: 40px;
            @include padding-all(0);
            line-height: 34px;
              @include respond-to('x-large'){
                 height: 33px;
                 line-height: 28px; 
                 font-size: 1em;         
                          
            }
            @include respond-to('medium'){
                 width: 65px;
    font-size: 0.9em;
    height: 36px;
            }
            @include respond-to('small'){
                height:34px;
                    font-size: 1.4em;
            }
            &:hover,&:focus{
                color: $color-white;
            }            
        }
                 @include respond-to('small'){
                       margin-bottom: 0;
            }
        
    }
    .card{
        @include padding(5px,null,15px,null);
         @include respond-to('x-large'){
              
              margin-top:0;
            }
    }
    .card-content{
        background: $color-white;
        min-height: 115px;
        li{
            width: 36px; height: 36px;
        }
    }
}

.ftr-tabs{
    display: none;
}

// .comparison-space{margin-top: 30px;}
.filter-bar{
    margin-top:0;
}

.filter-bar li:first-child span{font-size: 0.8125em;}

//sub-category filters

.hatke-banner{



    .filter-dropdown{

                     @include respond-to('ipad-max'){
                      
                      
                        top:60px;
                    
                  }

                    @include respond-to('ipad-port'){
                      
                       width:275px;
                        top:60px;
                    
                  }

                    li{
                          @include respond-to('ipad-port'){
                      
                         font-size:11px;
                    
                  }

                          @include respond-to('small'){
                      
                      font-size:1em;
                    
                  }
                    }
                       @include respond-to('small'){
                      
                       width:240px;
                    
                  }
        

           li:last-child{

                button{
                 @include respond-to('small'){
                      width: 82px;
                      height:40px;
                      margin-top:15px;
                      }
                  } 
            }

    }

    .filter-dropdown:after{
         @include respond-to('small'){
                      display: block;
            }
    }

    .tab-list{

      

             li:nth-child(1){

               

                .filter-dropdown{

                     

                       @include respond-to('ipad-port'){
                     right:-165%;
                    
                     
                     
                  }

                    @include respond-to('small'){
                       left:0;
                       right:0;
                      
                       top:50px;
                  }
                }


             .filter-dropdown:after{

                  @include respond-to('small'){
                 right:60%;
            }

             }

    }

     li:nth-child(2){




                .filter-dropdown{
                       @include respond-to('small'){

                           right:0;
                           top:53px;
                   
            }
                }


             .filter-dropdown:after{

                  @include respond-to('small'){
                      left:23%;
                 
            }

             }

    }

     li:nth-child(3){

                .filter-dropdown{
                       @include respond-to('small'){

                           left:0;
                       right:0;
                      
                       top:50px;
                   
            }
                }


             .filter-dropdown:after{

                  @include respond-to('small'){
                     right:60%;
                 
            }

             }

    }

    
     li:nth-child(4){

               .filter-dropdown{
                       @include respond-to('small'){

                           right:0;
                           top:53px;
                   
            }
                }


             .filter-dropdown:after{

                  @include respond-to('small'){
                      left:23%;
                 
            }

             }

    }
  li:nth-child(5){

            .filter-dropdown{
                       @include respond-to('small'){

                           left:0;
                       right:0;
                      
                       top:50px;
                   
            }
                }


             .filter-dropdown:after{

                  @include respond-to('small'){
                     right:60%;
                 
            }

             }

    }

   li:nth-child(6){

               .filter-dropdown{

                     @include respond-to('ipad-max'){
                      
                      
                        left: -129%;
                    
                  }
                       @include respond-to('small'){

                           right:0;
                           top:53px;
                   
            }
                }


             .filter-dropdown:after{

                  @include respond-to('small'){
                      left:23%;
                 
            }

             }

    }


 }

}