
.home-banner{
    background: rgba(0, 0, 0, 0.8) url("../images/home-banner.png") no-repeat scroll center top / cover ; 
    background-blend-mode: overlay;
    height: 100vh;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    // @include respond-to('x-sm'){
    //    height: 150vh;
    // }
    input[type='search']{
        background:$color-white url(../images/search.png)no-repeat 98% center;
        @include padding(null,65px,null,null);
        background-size: 25px;
        height:60px;


     @include respond-to('small'){
         @include padding(null,33px,null,null);
         }
        


    }
    .move-down{
        width: 40px;
        height: 40px;
        border-radius: 5px;
        border: $bold-border;
        border-color: $color-white;
        color: $color-white;
        position: absolute;
        @include in-center(null,0,25px,0);
        margin: auto;
        .fa{
            font-size: 2.500em;
            line-height: 40px;
            animation: 5s linear 0s normal none infinite running bounce;
        }
    }
}

@include respond-to('min-medium'){
    .container-fluid-wrap{
        padding: 0 60px;
    }
}

// Slider section
.carousel-wrap{
	 @include padding-all(30px);
     position: relative;
     @include respond-to('small'){@include padding(30px,0,30px,0);}
     .compare-slider{
         li{
             @include box-shadow(0,0,7px,0, rgba(0,0,0,0.3),false);
             @include margin(5px, 10px,5px,10px);
         }
     }
}
.slider-title{color: $gray-darker;}
.sub-title{color: $gray-darker; font-weight: $font-weight-light; @include padding(null,null,10px,null);
    &:after{
        position: absolute;
        content: '';
        width: 100px;
        height: 4px;
        background: $brand-primary;    
        margin: auto;
        @include in-center(null, 0px, -5px, 0px);
    }
}
.slider-box{
    @include padding(30px, null, 30px,null);
    li{
        @include margin(null, 10px,null,10px);
        @include respond-to('small'){@include margin(null, 0px,null,0px)}
    }

}
.slick-arrow{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 0;
    width: 27px;
    height: 50px;
    background: url(../images/arrow.png)no-repeat center center;
    @include padding-all(0px);
    border: none;
}
.slick-prev{
    left: -40px;
}
.slick-next{
    right: -40px;
    @include rotate (-180);
}
.slick-dots {
  background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
  bottom: 0;
  display: block;
  position: absolute;
  width: 100%;
  @include padding(10px,null,10px,null);
  text-align: center;
    li {
        cursor: pointer;
        display: inline-block;
        @include padding-all(0px);
        position: relative;
        border-radius: 100%;
        
        button{
            @include padding-all(0px);
            border-radius: 100%;            
            @include margin(null,5px,null,5px);
            height: 20px;
            width: 20px;
            font-size: 0;
            border: none;
            @include respond-to('medium'){
                width: 15px;
                height: 15px;
                @include margin(null,2px,null,2px);
            }
        }
    }   
}
.slick-active button{
    background: $brand-primary;
    @include scale(1.2);
}
.carousel-wrap{
    .card{@include padding-all(5px);}
}
.card{
    @include margin(15px,null,15px,null);

    .card-image{
        min-height: 315px;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        @include transition(all,0.4s,ease);
        @include respond-to('x-large'){
            min-height: 230px;
            
        }
        a{
            display: none;
            @include margin(null,20px,null,20px);
            z-index: 9;
            .fa{
                width: 50px;
                height: 50px;
                border-radius: 100%;
                background: #cec7c3;
                line-height: 50px;
                font-size: 1.292em;
                color:#757575;
            @include respond-to('small')
            {
                        font-size:2.187em;
             }                    

            }

           
            span{
                display: block;
                font-size: $font-primary;
                color: $color-white;


            }
            
           
        }
       

       
        &:hover{
            @include box-shadow(0, 0, 0, 180px, $white-smoke,true);
            a{
                display: block;
            }
        }
    }
    .card-content{
        background: $color-white;
        @include box-shadow(0, 1px, 3px, 0, rgba(0, 0, 0, 0.4));
        li{
            margin: 0;
            padding: 0;
        }
    }
    .card-block{
        border-bottom: 1px solid $border-color;
    }
    .card-text{
        @include padding(15px,null,15px,null);
        font-size: $font-primary;
        color:$color-black;
        margin: 0;
    }
    .share-box{
        @include padding(10px, null,10px,null);
        display: flex;
        display: -webkit-flex;
        align-items: center;
    }
    .see-more{
        font-size:$font-primary;
        color: $brand-primary;
    }
}
.border-sepration:after{
    position: absolute;
    content: '';
    width: 45%;
    height: 1px;
    background: $border-color;
    @include in-center(null, 0px, 0px, 0px);
    margin: auto;

}
.visitor-rating{
    background: $brand-primary;
    @include padding(0px,null,0px,null);
    font-size: 11px;
    @include respond-to('medium'){
        @include padding(0px,null,0px,null);
    }
    p{
        font-size: 2.92em;
        line-height: 1.923em;
        font-weight: $font-weight-medium;
        @include respond-to('medium'){
            font-size: 2.692em;
        }
        @include respond-to('small'){
            font-size: 1.9em;
        }
        span{
            position: relative;
            @include padding(null,null,15px,null);
            &:after{
                position: absolute;
                content: '';
                width: 130px;
                height: 5px;
                background: $color-white;
                @include in-center(null,0,0,0);
                margin: auto;
                @include respond-to('medium'){
                    height: 3px;
                }
            }
        }
    }
}

.cast-slider{
    .card-image{
        &:hover{
            box-shadow: none !important;
        }
    }
}

.ott{
    .slick-slide{
        // width: 120px !important;
        // height: 120px !important;
    }
}