.background-color{
    background:$black-light;
    h1{
        color:$color-white;
    }
    .sub-title{
        color:$color-white;
        }
    .card-content{
         background:$color-white;
    }
    .description-banner{
        background: url(../images/description-video-cover.jpg)no-repeat center center/cover;
        height: 100vh;
        position: relative;
        @include respond-to('medium'){height: 450px;}
    }
    .btn-blocks{
        position: absolute;
        @include in-center(null,0,100px,0);
        z-index: 9;
    }
}

.character-name{
    color:$select-color;
    font-size:1em;
}

//copied css
.profile-tab-details{
    .panel {
    background: none;
    }
.panel-default {
    border-color: #ddd;
}
.panel-media-width{
    width:240px;
}
 
 .movie-duration{
     font-size:1em;
     border-bottom:1px solid;
    padding-bottom: 10px;
 }


}
.section-seperation{
     @include padding(50px,null,null,null);
     @include respond-to('medium'){ @include padding(30px,null,null,null);}
}

.description-banner{

        .custom-btn{
            background:#646464;
            color:$color-white;
            @include margin(30px,null,null,null);
        }
        .custom-btn:hover{
            background:#222222;
        }
        .btn-space{
              @include margin(null,30px,null,null);
        }
}
.rating-section{
     @include padding(50px,null,50px,null);
     @include respond-to('medium'){
         @include padding(20px,null,20px,null);
     }
     ul{
         li{
            @include padding(null,10px,null,10px);
            @include respond-to('medium'){
                @include padding-all(0);
            }
            .fa{
                @include margin(null,5px,null,5px);
            }
            &.rating-logo{
                @include respond-to('medium'){
                    width:75px;
                }
            }
        }
    }
    .rate-share-wrap{
        ul{
             @include respond-to('medium'){
                @include margin(null,null,null,null);
                
             }

           
        }
    }
}
.rating{
    border-bottom:1px solid;
}

.watch-now{
    .modal-content{
        overflow: hidden;
        border: $square-border;
        @include respond-to('small'){
            min-width: 340px;
        }
    }
    .modal-header{
         background: $brand-primary;
         border: none;
    }
    .panel-heading{
        background: #131313;
    }
    .modal-body{
        padding: 0 !important;
        a{
            margin-bottom:0 !important;
        }
        
        .panel-group {
            @include margin(null,null,0,null);
            .panel{
                border:none;
                border-radius: 0;
                .panel-heading{
                    border-radius: 0;
                    border-top: $square-border;
                    h4{
                        margin-top:0 !important;
                        a{
                            color:$color-white !important;
                            display: block;
                            position: relative;
                            &:after{
                                position: absolute;
                                content: '';
                                width: 40px;
                                height: 100%;
                                background: url(../images/arrow.png)no-repeat center center;
                                @include in-center(8px,0,0,null);
                                @include rotate(90);
                            }
                        }
                        a.collapsed{
                            &:after{
                                @include rotate(-90);
                                @include in-center(-7px,0,0,null);
                            }
                        }
                    }
                }
                .panel-body{
                    background: #222222;
                }
                .subs-list{
                    li{
                        @include padding(25px,null,25px,null);
                        border-bottom: $square-border;
                        span{
                            font-size: $font-primary;
                            color: $color-white;
                        }
                        @include respond-to('small'){
                            text-align: center !important;
                        }
                        figure{
                            @include respond-to('small'){
                                @include margin(null,null,15px,null);
                                img{display: inline-block}
                            }
                        }
                        .go-btn{
                            display: inline-block;
                            width: 80px;
                            height: 30px;
                            border:2px solid $brand-primary;
                            border-radius: 5px;
                            color: $brand-primary;
                            font-size: $font-primary;
                            @include margin(null,null,null,30px);
                            text-align: center;
                            line-height: 28px;
                            @include respond-to('small'){
                                width: 50px;
                            }
                        }
                        &:first-child{
                            @include padding(10px,null,25px,null);
                        }
                        &:last-child{
                            @include padding(25px,null,10px,null);
                            border: none;
                        }
                    }

                }
                +.panel{
                    @include margin(0,null,null,null);
                }
            }
            
        }
            
    }
}
.rating-modal{
    .modal-body{
        h4{
            color: $brand-primary;
        }
        .star-group{
            @include margin(25px,null,25px,null);
            .fa-star{
                color: #eadb35;
            }
            .fa-star-o{
                color: #505353;
            }
        }
        .rating-msg{
            color: #505353;
            font-size: 1.625em;
        }
        .submit-btn{
            width: 400px;
            @include margin(40px,null,null,null);
            @include respond-to('small'){
                width: 100%;
            }
        }
        
    }
}