.profile-wrap{
    background:$black-light;
    @include padding(130px,30px,30px,30px);
    @include respond-to('small'){
        @include padding(115px,15px,15px,15px);
    }
    .profile-content{
        background: $color-black;
        >.row{
            display: flex;
            display: -webkit-flex;
            align-content: stretch;
            @include respond-to('small'){
                display: inherit;
            }
        }
        
        .left-bar{
            border-right:$square-border;
            @include padding(40px,null,80px,null);
            @include respond-to('small'){
                @include padding(14px,null,40px,null);
                border-right:none;
            }
            .user-wrap{
                @include padding(null,null,30px,null);
                @include margin(null,null,40px,null);
                @include respond-to('small'){
                    @include padding(null,null,15px,null);
                    @include margin(null,null,20px,null);
                }
                position: relative;
                &:after{
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 1px;
                    background: url(../images/profile-dp-border.png)no-repeat center center/cover;
                    @include in-center(null,0,0,0);
                    margin: auto;
                }
                .user-name{
                    font-size:1.875em; 
                    font-weight: $font-weight-regular;
                    @include respond-to('medium'){
                        font-size: 1.850em; 
                    }
                }
            }
            .profile-tabs{
                li{ 
                    @include padding-all(0px);
                    position: relative;
                    a{
                        @include padding(12px,40px,12px,40px);
                        display: block;
                        font-size: 1.25em;
                        color: $color-white;
                        font-weight: $font-weight-light;
                        transition: all 0.8s ease 0s, color 0.4s ease 0.4s;
                        .fa{
                            @include margin(null,20px,null,null);
                        }
                        &:hover,&.active{
                            box-shadow: 18em 0 0 0 #e50914 inset, -18em 0 0 0 #f01b26 inset;
                        }
                        @include respond-to('x-large'){
                            @include padding(12px,30px,12px,30px);

                            font-size:1.5em;

                            

                        }
                        @include respond-to('large'){
                            @include padding(12px,15px,12px,15px);
                            font-size:1.500em;
                        }
                    }
                    &:after{
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 1px;
                        background: url(../images/profile-dp-border.png)no-repeat center center/cover;
                        @include in-center(null,0,0,0);
                        margin: auto;
                    }
                }
            }
            
        }
    }
    
}
.dp{
    width: 155px;
    height: 155px;
    display: inline-block;
    margin: auto;
    border-radius: 100%;
    border:3px solid $color-white;
    position: relative;
    overflow: hidden;
    @include margin(null,null,12px,null);
    @include respond-to('medium'){
        width: 120px;
        height: 120px;
    }
    .change-dp{
        color: $color-white;
        font-size: $font-primary;
        font-weight: $font-weight-regular;
        @include padding-all(10px);
        background: $white-smoke;
        @include in-center(auto,0,0,0);
        margin: auto;
        position: absolute;
        @include respond-to('medium'){
            @include padding-all(5px);
        }
    }
}

.profile-tab-details{
    @include padding-all(40px);
    @include respond-to('medium'){
        @include padding-all(15px);
    }
    form{
        label{
            font-size: 1.375em;
        }
    }
    .save-form{
        width: 400px;
        margin: auto;
        display: inline-block;
        @include margin(30px,null,null,null);
        @include respond-to('medium'){
            width: 100%;
        }
    }
    .panel{
        background: none;
        .panel-heading{
            background: none;
            font-size: 1.875em;
            font-weight: $font-weight-light;
        }
        .panel-body{
            >.row{
                display: flex;
                display: -webkit-flex;
                align-items: center;
                @include respond-to('medium'){
                    display: inherit;
                }
            }
            .col-xs-12{
                @include respond-to('small'){
                    @include padding-all(0);
                }
            }
            .media{
                .media-img{
                  width: 80px;
                  @include respond-to('small'){
                    width: 50px;
                  }
                }
            }
        }
        li{
            @include margin(15px,null,15px,null);
            height: 40px;
            line-height: 40px;
            span{
                display: inline-block;
                font-size: 1.562em;
                font-weight: $font-weight-light;
                @include respond-to('x-large'){
                    font-size:1.750em;
                }@include respond-to('large'){
                    font-size:1.500em;
                }
            }
        }
    }
    .filter-bar{
        @include margin(null,null,40px,null);
        li{
            @include respond-to('medium'){
                 @include margin(null,null,10px,null);
            }
            a{
                font-size: 1.375em;
                color: $color-white;
                font-weight: $font-weight-light;
                position: relative;
                @include padding(null,null,5px,null);
                &:after{
                    position: absolute;
                    content: '';
                    width: 0;
                    height: 4px;
                    background: $brand-primary;
                    @include in-center(null,0,0,0);
                    @include transition(all,0.4s,ease);
                    margin: auto;
                    @include respond-to('small'){
                        height: 2px;
                    }
                }
                &.active{
                    font-weight: $font-weight-medium;
                     &:after{
                        width: 100%;
                    }
                }
                &:hover{
                    &:after{
                        width: 100%;
                    }
                }
            }

                @include respond-to('x-large'){
                 @include margin(null,null,20px,null);
            }   


        }
        .clear-history{
            a{
                font-weight: $font-weight-medium;
                &:after{
                    width: 100%;
                    background: $color-white;
                }
            }
        }
    }
    .card-image{
        a{
            position: absolute;
            @include in-center(5px,25px,null,null);
            margin: auto;
            .fa{
                background: none;
                width: auto;
                height: auto;
                line-height: inherit;
                color: $color-white;
                @include respond-to('small'){
                    font-size: 1.725em;
                }
            }            
        }
    }
    .p-tabs{
        display: none;
    }
    
}

// Switch

.switch {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 40px;
  @include respond-to('medium'){
    width: 80px;
    height: 30px;
    }
    input {
        display:none;
        &:checked + .slider {
            background-color: $brand-primary;
        }
        &:focus + .slider {
            box-shadow: 0 0 1px  $brand-primary;
        }
        &:checked + .slider:before {
            @include translate(79px);
            @include respond-to('medium'){
                @include translate(48px);
            }
        }
        &:checked + .slider:after{
            content: 'On';
            @include in-center(0,auto,0,20px);
            @include respond-to('medium'){
                 @include in-center(-5px,auto,0,10px);
             }
        }
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #717171;
        @include transition(all,.4s,ease);
        border-radius: 40px;
        &:after{
            position: absolute;
            content: 'Off';
            font-size: 1.562em;
            color: $color-white;
            @include in-center(0,20px,0,null);
            margin: auto;
            font-weight: $font-weight-light;
            @include transition(all,.4s,ease);
            @include respond-to('medium'){
                @include in-center(-5px,10px,0,null);
                font-size:1.500em;
            }
        }
        &:before {
            position: absolute;
            content: "";
            height: 36px;
            width: 36px;
            @include in-center(0,null,0,3px);
            background-color: $color-white;
            @include transition(all,.4s,ease);
            border-radius: 100%;
            margin: auto;
            @include respond-to('medium'){
                width: 26px;
                height: 26px;
            }
        }
    }
}
.social-connect{
    .logged-user{
        display: flex;
        display: -webkit-flex;
        align-items: center;
        .social-in{
            width: 57px;
            height: 57px;
            border-radius: 100%;
            border: 3px solid $color-white;
            display: inline-block;
            @include margin(null,20px,null,null);
        }
        .social-user-name{
            font-size: 1.250em;
            font-weight: $font-weight-light;
        }
    }
    
    .social-tagline{
        font-weight: $font-weight-light;
    }
    .social-link{
        color: $color-white;
        font-size: 1.500em;
        font-weight: $font-weight-light;
        display: inline-block;
        border: 1px solid $color-white;
        border-radius: 5px;
        height: 55px;
        line-height: 55px;
        @include margin(15px,null,15px,null);
        @include padding(null,20px,null,null);
        position: relative;
        @include respond-to('large'){
            font-size: 1.400em;
        }
        @include respond-to('medium'){
            height: 45px;
            line-height: 45px;
            @include padding(null,15px,null,null);
            @include margin(10px,null,10px,null);
            
        }
        span{
            @include margin(null,null,null,40px);
            @include respond-to('medium'){
                @include margin(null,null,null,15px);
            }
        }
        &:after{
            position: absolute;
            content: '';
            width: 1px;
            height: 100%;
            @include in-center(0,null,0,65px);
            background: $color-white;
            @include respond-to('medium'){
                @include in-center(0,null,0,50px);
            }
        }
        .fa{
            @include padding(null,15px,null,20px);
            @include respond-to('medium'){
                @include padding(null,15px,null,15px);
            }
        }
        &:hover{
            color: $color-white;
        }
    }
    .fb{
        &:hover{
            background: #4863B4;
        }
    }
    .twitter{
        &:hover{
            background: #119ACE;
        }
    }
    .gplus{
        &:hover{
            background: #DF4A32;
        }
    }
    .tumblr{
        &:hover{
            background: #314359;
        }
    }
    .pinterest{
        &:hover{
            background: #C7202C;
        }
    }
    .instagram{
        &:hover{
            background: #9C3DCB;
        }
    }
}

#deals{
        .panel-body{

          
          .col-md-4.text-right {

                    @include respond-to('small'){
                            text-align: center;
                    }
                    
                }
                          
                   .deal-btn{
                              @include respond-to('small'){
                                       display: inline-block;
                                        margin: auto;
                                        width: 95px;
                                          @include padding-all(6px);


                              }

                             
                      }
                  }
 }
        
